body{
    width:80%
   background-color: antiquewhite;
}
h1{
    text-align: center;
    background-color: antiquewhite;
}
h2{
    text-align: right;
    background-color: antiquewhite;
    padding: inline start 100px;
}
.picṇ {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  